<%= form_with url: game_bet_path, method: :post, local: true do |f| %>
    <div class="bet-form">
        <div>
        <div class="quick-bets">
            <div>
                <p style="color: #FFF;">Custom Bet:</p>
                <%= f.number_field :wager, min: 1, max: balance, value: 1,
                        placeholder: 'Bet', style: 'margin-top:6px;', 
                        oninvalid: "this.setCustomValidity('Bet must be less than or equal to your balance.')",
                        oninput: "this.setCustomValidity('')"
                %>
            </div>
            <div style="margin-left: 30px;"/>
            <div>
                <p style="color: #FFF;">Quick Bet:</p>
                <% [10, 25, 50, 100].each do |amt| %>
                    <button type="button" class="quick-bet btn" data-value="<%= amt %>">$<%= amt %></button>
                <% end %>
            </div>
        </div>
        <div style="height: 50%; margin: auto; padding-top: 9%; padding-left: 20px">
            <%= f.submit 'Deal', class: 'btn' %>
        </div>
    </div>
<% end %>
