<div class="player-hand" >

    <% gameWin = false %>
    
    <% cardsInHand = [] %>
    <% cardsInHand.push(cards.shift)%>
    <% cardsInHand.push(cards.shift)%>

    <% handValue = cardsInHand[1].value %>
    <% handValue += cardsInHand[0].value%>

    
    <% if handValue == 21 || gameWin %>
        <p class="game-win">YOU WIN!!!</p>
    <% elsif handValue > 21 %>
        <% gameOver = true %>
    <% end %>
    

    <% if gameOver %>
        <p>Sorry, you lose this game. Try again?</p>
        <%= button_to "Play again", "/" %>
    <% end %>

    <div class="hand" id="hand">
        <% cardsInHand.each do |card| %>
            <div>
                <%= render "card/card_item", facing: facing, card: card %>
            </div>
        <% end %>
    </div>
</div>

<div class="buttons">
    <%= button_to "Hit", add_card_path, method: :get, data: { turbo_frame: "hand", action: "click->cardsInHand.push(cards.shift)" } %>
    <%= button_to "Stay" %>
</div>

<div class="player-points"><%= handValue %></div>

<div class="player-money" >$100.00</div>