<%
    game_handler = session[:game] || {}
    step = (game_handler['step'] || "betting").to_sym
    player_hand = (game_handler['player_hand'] || {})
    dealer_hand = game_handler['dealer_hand'] || {}
    dealer_cards = dealer_hand['cards'] || []
    balance = game_handler['balance'] || 0
    message = game_handler['message'] || ''

    player_cards = player_hand['cards'] || []
    bet = player_hand['bet'] || 0

    show_dealer = step == :player_turn ? 'back' : 'front'
%>

<div class="game-space">
    <div class="dealer" >
        <%= render "dealer_space", facing: show_dealer, cards: dealer_cards %>
    </div>

    <div class="message-box"><%= message %></div>

    <div class="player" >
        <%= render "player_space", facing: "front", cards: player_cards, balance: balance %>
    </div>

    <div class="actions">
    <% if step == :betting %>
        <%= render "betting", balance: balance%>
    <% end %>

    <% if step == :player_turn %>
        <%= render "player_turn" %>
    <% end %>

    <% if step == :game_over %>
        <%= render "game_over", balance: balance %>
    <% end %>
</div>