<%
    game_handler = session[:game] || {}
    step = (game_handler['step'] || "betting").to_sym
    player_hands = (game_handler['player_hands'] || [])
    dealer_hand = game_handler['dealer_hand'] || {}
    dealer_cards = dealer_hand['cards'] || []
    balance = game_handler['balance'] || 0
    message = game_handler['message'] || ''
    active_hand = game_handler['active_hand'] || 0
    results = game_handler['results'] || []

    show_dealer = (step == :player_turn || step == :betting) ? 'back' : 'front'
%>

<div class="game-space">
    <div class="dealer" >
        <%= render "dealer_space", facing: show_dealer, cards: dealer_cards, score: Hand.from_h(dealer_hand).score %>
    </div>

    <div class="message-box <%= class_names(playing: step != :betting) %>"><%= message %></div>
    <div class="player-money" >$<%= balance %></div>
    
    <div class="player">
        <% player_hands.each_with_index do | hand, index | %>
            <% 
                hand_cards = hand['cards'] || []
                hand_score = Hand.from_h(hand).score
                is_bust = hand['busted']
                is_stood = hand['stood']
                hand_bet = hand['bet'] || 0
                can_split = hand_cards.size == 2 && hand_cards[0] && hand_cards[1] && (hand_cards[0]['rank'] == hand_cards[1]['rank'])
                current_cards = index == active_hand
            %>
            <div class="<%= class_names(current_hand: current_cards && player_hands.size > 1) %>">
                <%= render "player_space", index: index, 
                                        facing: "front", 
                                        cards: hand_cards, 
                                        balance: balance, 
                                        bet: hand_bet, 
                                        bust: is_bust, 
                                        stood: is_stood, 
                                        score: hand_score
                %>
            </div>
        <% end %>
    </div>

    <div class="actions">
        <% if step == :betting %>
            <%= render "betting", balance: balance%>
        <% end %>

        <% if step == :player_turn %>
            <div class="action-buttons">
                <%= render "player_turn", balance: balance, current_hand: player_hands[active_hand]%>
            </div>
        <% end %>

        <% if step == :game_over %>
            <div class="action-buttons">
                <%= render "game_over", balance: balance %>
            </div>
        <% end %>
    </div>
</div>